.about-service {
  background-color: $special_blue;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet_width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 60px;
      position: absolute;
      left: 0;
      top: -60px;
      background-color: $special_blue;
    }
  }
}

.about-service__container {
  min-height: 353px;
  background-image: url("../img/about-mobile.png");
  background-position: top left;
  background-repeat: no-repeat;
  padding: 33px 25px 42px;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/about-mobile@2x.png");
    background-size: contain;
  }

  @media (min-width: $tablet_width) {
    padding: 38px 75px 90px;
    background-image: url("../img/about-tablet.png");
    background-position: 84% top;
    background-size: 720px 596px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-tablet@2x.png");
    }
  }

  @media (min-width: $desktop_width) {
    min-height: 750px;
    padding: 130px 130px 160px;
    background-image: url("../img/about-desktop.png");
    background-position: 50% 70px;
    background-size: 1320px 680px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-desktop@2x.png");
    }
  }
}

.about-service__title {
  padding: 0 25px;
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: $tablet_width) {
    padding: 0;
    width: 50%;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 57px;
  }
}

.about-service__text {
  padding: 0 25px;
  width: 80%;
  margin: 0 0 20px;

  @media (min-width: $tablet_width) {
    padding: 0;
    width: 50%;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop_width) {
    display: block;
    margin-bottom: 38px;
    width: 54%;
  }

  &--accent {
    margin-bottom: 20px;

    @media (min-width: $tablet_width) {
      margin-bottom: 52px;
    }

    @media (min-width: $desktop_width) {
      width: 40%;
      margin-bottom: 86px;
    }
  }
}

.about-service__link {
  @media (max-width: $mobile_width_only) {
    display: none;
  }
}
