.about-service {
  min-height: 353px;
  background-image: url("../../img/about-mobile.png"),
    url("../../img/about_bcg_mobile.png");
  background-position: 80% top, left top;
  background-repeat: no-repeat;
  background-color: $special_blue;
  padding: 33px 25px 42px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-sizing: border-box;

  @media (min-width: $tablet_width) {
    padding: 40px 75px 90px;
    background-image: url("../../img/about_tablet.png"),
      url("../../img/about_bcg_tablet.png");
    background-position: 98% 40%, center top;
  }

  @media (min-width: $desktop_width) {
    min-height: 665px;
    padding: 42px 130px 163px;
    background-image: url("../../img/about_desktop.png"),
      url("../../img/about_bcg_desktop.png");
    background-position: 94% 40%, 5% top;
  }
}

.about-service__title {
  padding: 0 25px;
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: $tablet_width) {
    padding: 0;
    width: 50%;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 57px;
  }
}

.about-service__text {
  padding: 0 25px;
  width: 80%;
  margin: 0 0 20px;

  @media (min-width: $tablet_width) {
    padding: 0;
    width: 50%;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 38px;
    width: 55%;
  }

  &--accent {
    margin-bottom: 20px;

    @media (min-width: $tablet_width) {
      margin-bottom: 52px;
    }

    @media (min-width: $desktop_width) {
      width: 40%;
      margin-bottom: 85px;
    }
  }
}

.about-service__link {
  width: 50%;
}
