.add-plan {
  background-color: $special_blue_light;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 30px;
  padding-bottom: 73px;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: $special_blue_half_light;
  }

  @media (min-width: $tablet_width) {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 51px;
    padding-bottom: 106px;
  }

  @media (min-width: $desktop_width) {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding-top: 55px;
    padding-bottom: 116px;
  }
}

.add-plan__wrapper {
  padding: 0 25px;
  box-sizing: border-box;

  @media (min-width: $tablet_width) {
    padding: 0 75px;
  }

  @media (min-width: $desktop_width) {
    padding: 0 60px;
  }
}

.add-plan__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 29px;
  position: relative;
  top: -3px;

  @media (min-width: $tablet_width) {
    padding-bottom: 56px;
  }

  @media (min-width: $desktop_width) {
    padding-bottom: 54px;
  }
}

.add-plan__group-header {
  @media (min-width: $desktop_width) {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
  }
}

.add-plan__title {
  margin: 0;

  @media (min-width: $desktop_width) {
    padding-left: 70px;
  }
}

.add-plan__markers {
  display: none;
  padding: 0;

  @media (min-width: $desktop_width) {
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    width: 228px;
    padding-top: 6px;
  }
}

.add-plan__group {
  width: 100%;
  background-color: $basic_white;
  border: none;
  border-radius: 10px;
  padding: 22px 25px 23px;
  box-sizing: border-box;
  margin: 0;

  &--dates {
    margin-bottom: 10px;

    @media (min-width: $tablet_width) {
      margin-bottom: 39px;
    }

    @media (min-width: $desktop_width) {
      margin-bottom: 44px;
    }
  }

  &--routes {
    padding-bottom: 6px;
    margin-bottom: 10px;

    @media (min-width: $tablet_width) {
      margin-bottom: 51px;
    }
  }

  &--entertainments {
    padding-bottom: 6px;
  }

  @media (min-width: $tablet_width) {
    padding: 45px 40px 56px;
    border-radius: 30px;

    &--routes {
      padding: 45px 42px 52px;
      margin-bottom: 51px;
    }

    &--entertainments {
      padding: 45px 39px 52px 44px;
    }
  }

  @media (min-width: $desktop_width) {
    padding: 100px 160px 106px;
    border-radius: 60px;

    &--routes {
      padding: 96px 160px 104px;
      margin-bottom: 42px;
    }
  }
}

.add-plan__subtitle {
  display: flex;
  flex-direction: column;
  color: $basic_blue_light;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet_width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop_width) {
    flex-direction: row;
    margin-bottom: 34px;
  }
}

.add-plan__subtitle-counter {
  @media (min-width: $desktop_width) {
    margin-right: 10px;
  }
}

.add-plan__description {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet_width) {
    width: 95%;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;

    &--routes {
      width: 80%;
      margin-bottom: 34px;
    }

    &--entertainments {
      margin-bottom: 34px;
    }
  }

  @media (min-width: $desktop_width) {
    width: 76%;
    border-bottom: none;
    margin: 0;
    margin-bottom: 55px;

    &--routes {
      width: 55%;
      margin-bottom: 44px;
    }

    &--entertainments {
      width: 65%;
    }
  }
}

.add-plan__container {
  @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet_width) {
    border-top: 1px solid rgba($basic_gray, 0.3);
    padding-top: 24px;
  }

  @media (min-width: $desktop_width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
    padding-top: 30px;
  }
}

.add-plan__parametres {
  @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
    display: contents;
  }
}

.add-plan__parametres-item--last {
  @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
    order: 3;
    margin-bottom: 37px;
  }
}

.add-plan__childrens-wrapper {
  @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
    order: 2;
    border-bottom: 1px solid rgba($basic_gray, 0.3);
    margin-bottom: 24px;
  }

  @media (min-width: $desktop_width) {
    margin-top: 16px;
  }
}

.add-plan__childrens-label {
  margin-bottom: 22px;
  cursor: pointer;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  position: relative;
  color: $basic_blue_light;

  @media (min-width: $tablet_width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 28px;
  }

  &::before {
    content: "";
    display: block;
    width: 26px;
    height: 28px;
    border: 1px solid $basic_gray;
    border-radius: 4px;
    margin-right: 13px;
    box-sizing: border-box;

    @media (min-width: $tablet_width) {
      width: 36px;
      height: 36px;
      margin-right: 23px;
    }
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-image: url("../img/checkbox.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (min-width: $tablet_width) {
      left: 13px;
      width: 11px;
      height: 11px;
    }
  }
}

.add-plan__childrens-field:checked ~ .add-plan__childrens-label::after {
  display: inline-block;
  vertical-align: top;
}

.add-plan__childrens-field:hover ~ .add-plan__childrens-label::before {
  border: 1px solid $basic_gray__half_dark;
}

.add-plan__childrens-label:active::before {
  border: none;
  background-color: $basic_half_gray;
}

.add-plan__childrens-label:active::after {
  opacity: 0.5;
}

.add-plan__month-control {
  margin-bottom: 22px;
}

.add-plan__calendar {
  margin-bottom: 22px;

  @media (min-width: $tablet_width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 57px;
  }
}

.add-plan__list-routes {
  margin-bottom: 25px;

  @media (min-width: $tablet_width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 56px;
  }
}

.add-plan__link-wrapper {
  @media (min-width: $tablet_width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.add-plan__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  background-color: $basic_yellow;
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic_blue_light;
  border-radius: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet_width) {
    width: 284px;
    min-height: 80px;
    text-transform: none;
  }

  &--back {
    background-color: $basic_white;
    width: auto;
    margin-top: 6px;
  }

  &:hover {
    background-color: $special_yellow-dark;
  }

  &--back:hover {
    background-color: $basic_white;
  }
}

.add-plan__link-text {
  @media (min-width: $tablet_width) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 31px;
    font-size: 24px;
    line-height: 24px;

    &::after {
      content: "";
      display: inline-block;
      vertical-align: top;
      width: 14px;
      height: 14px;
      background-image: url("../img/link_arrow.svg");
      background-size: 14px 14px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--back {
    width: auto;
    white-space: nowrap;
    padding: 0;

    @media (min-width: $tablet_width) {
      margin-top: 0;

      &::after {
        order: -1;
        transform: rotate(180deg);
        margin-right: 22px;
      }
    }

    @media (min-width: $desktop_width) {
      padding-bottom: 5px;
    }
  }
}

.add-plan__link--back:hover .add-plan__link-text {
  opacity: 0.7;
}

.add-plan__link:active .add-plan__link-text {
  opacity: 0.3;
}

.add-plan__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  background-color: $basic_yellow;
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic_blue_light;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet_width) {
    width: 284px;
    min-height: 80px;
    text-transform: none;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
  }

  &:hover {
    background-color: $special_yellow-dark;
  }
}

.add-plan__submit:active .add-plan__link-text {
  opacity: 0.3;
}
