.calendar {
  padding-bottom: 22px;
}

.calendar__change-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $basic_gray;
  border-bottom: 1px solid $basic_gray;
  box-sizing: border-box;
  padding: 11px 0;
  margin-bottom: 22px;
}

.calendar__month-field {
  width: 80%;
  color: $basic_blue_light;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  border: none;
}

.calendar__days {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin-bottom: 10px;
}

.calendar__days-item {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  &--weekend {
    color: $special_orange-dark;
  }
}

.calendar__dates {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(100% / 7));
}

.calendar__dates-item {
  border: 1px solid $basic_gray;
  color: $basic_gray;

  &:not(:nth-of-type(7n)) {
    border-right: none;
  }

  &:not(:nth-of-type(n + 36)) {
    border-bottom: none;
  }

  &--active {
    color: $basic_white;
    background-color: $basic_blue_light;
  }

  &--dark {
    color: $basic_blue_light;
    background-color: $basic_gray_light;
  }
}

.calendar__button {
  color: inherit;
  width: 100%;
  height: 32px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  border: none;
}
