.countries-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.countries-list__item {
  position: relative;

  &:not(:last-of-type) {
    margin-right: 20px;
  }
}


.countries-list__item:hover .countries-list__tooltip {
  display: block;
}
