.directions {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: $basic_gray_light;
  padding-bottom: 34px;
}

.directions__title {
  margin-left: 49px;
  margin-bottom: 10px;
}

.directions__text {
  width: 63%;
  margin-left: 49px;
  margin-bottom: 60px;
}

.directions__list {
  margin-bottom: 25px;
}
