.form-travelers {
  border-radius: 30px;
  background-color: $basic_yellow;
  box-sizing: border-box;
  padding: 25px 25px 22px;
  margin: 0 25px 28px;

  @media (min-width: $tablet_width) {
    margin: 0 40px 40px;
    padding: 37px 35px;
  }

  @media (min-width: $desktop_width) {
    width: 285px;
    padding: 48px;
    order: 2;
    margin: 0;
  }
}

.form-travelers__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $basic_blue_light;
  margin: 0 0 23px;

  @media (min-width: $tablet_width) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 34px;
  }
}

.form-travelers__group {
  border: none;
  padding: 0;
  margin: 0;

  &--transport {
    border-top: 1px solid $special_orange_light;
    margin-bottom: 20px;

    @media (min-width: $tablet_width) {
      border: none;
      margin-bottom: 30px;
    }

    @media (min-width: $desktop_width) {
      margin-bottom: 35px;
    }
  }

  &--range {
    @media (max-width: $mobile_width_only) {
      border-top: 1px solid $special_orange_light;
    }

    @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $special_orange_light;
      margin-bottom: 36px;
      padding-bottom: 36px;
    }
  }
}

.form-travelers__subtitle {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic_blue_light;
  margin: 0;

  &::after {
    content: "";
    width: 10px;
    height: 6px;
    display: inline-block;
    vertical-align: top;
    background-image: url("../../img/arrow-interests_down.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
      display: none;
    }
  }

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 20px;
    width: 130px;
  }

  @media (min-width: $desktop_width) {
    width: auto;
  }
}

.form-travelers__submit {
  width: 100%;
  min-height: 40px;
  border-radius: 25px;
  background-color: $basic_white;
  border: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $basic_blue;
  cursor: pointer;
}
