.group-countries {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-grow: 1;

  @media (max-width: $mobile_width_only) {
    display: none;
  }

  &--popup {
    @media (max-width: $mobile_width_only) {
      display: block;
      order: 2;
      padding-left: 25px;
      padding-top: 20px;
    }
  }
}

.group-countries__item {
  @media (min-width: $tablet_width) {
    margin-right: 28px;
  }

  @media (min-width: $desktop_width) {
    margin-right: 32px;
  }

  &--popup {
    @media (max-width: $mobile_width_only) {
      &:not(:last-of-type) {
        margin-bottom: 9px;
      }
    }
  }
}

.group-counries__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $special_blue;
  opacity: 0.3;

  &--active {
    opacity: 1;
  }

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 20px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }
}
