.hashtags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: $special_gray;

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.hashtags__item {
  &:not(:last-of-type) {
    margin-right: 8px;
  }

  &--lighten {
    opacity: 0.6;
  }
}
