.index {
  background-color: $basic_white;
  display: none;

  @media (min-width: $tablet_width) {
    display: none;
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content min-content;
    box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);
  }

  @media (min-width: $desktop_width) {
    width: 768px;
  }

  &--open {
    display: block;

    @media (min-width: $tablet_width) {
      display: grid;
    }
  }

  &--catalog {
    background-color: $basic_half_gray;
    box-shadow: none;

    @media (min-width: $desktop_width) {
      width: auto;
      display: block;
      margin: 0;
      background-color: transparent;
    }
  }
}

.index__header {
  display: flex;
  justify-content: space-between;
  min-height: 42px;
  border-radius: 4px;
  background-color: $basic_blue_light;
  padding: 14px 17px;
  box-sizing: border-box;

  @media (min-width: $tablet_width) {
    min-height: 70px;
    padding: 25px;
    grid-column: 1 / -1;
    margin-right: 156px;
  }

  @media (min-width: $desktop_width) {
    margin-right: 0;
  }
}

.index__title {
  margin: 0;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $basic_white;
  background-color: $basic_blue_light;

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
}

.index__headind-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(100% / 5));
  box-sizing: border-box;

  @media (min-width: $tablet_width) {
    width: 382px;
    grid-template-columns: repeat(5, 55px);
    border-right: 1px solid rgba($basic_gray, 0.3);
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 25px;
  }

  @media (min-width: $desktop_width) {
    grid-template-columns: repeat(5, 60px);
    width: 490px;
    column-gap: 16px;
    row-gap: 14px;
  }

  &--catalog {
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;

    @media (min-width: $tablet_width) {
      width: 346px;
      border: none;
      padding: 0;
      grid-template-columns: repeat(auto-fill, calc(100% / 5));
      margin-bottom: 78px;
    }

    @media (min-width: $desktop_width) {
      display: none;
    }
  }
}

.index__close-button {
  width: 9px;
  height: 9px;
  background-color: transparent;
  border: none;
  align-self: center;
  background-image: url("../img/icon_close_index.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  @media (min-width: $tablet_width) {
    width: 24px;
    height: 24px;
  }
}

.index__heading-item {
  border: 1px solid $basic_gray;
  text-align: center;
  color: $basic_blue_light;
  display: flex;

  @media (max-width: $tablet_width_only) {
    &:not(:nth-of-type(5n)) {
      border-right: none;
    }

    &:not(:nth-of-type(n + 21)) {
      border-bottom: none;
    }

    &:hover {
      border: none;
      outline: 1px solid $basic_gray__half_dark;
      z-index: 10;
    }
  }

  @media (min-width: $desktop_width) {
    border-radius: 4px;
  }

  &:hover {
    border-color: $basic_gray__half_dark;
  }

  &--catalog {
    @media (min-width: $tablet_width) {
      border: none;
    }

    &:hover {
      outline: none;
    }
  }
}

.index__button {
  color: inherit;
  width: 100%;
  min-height: 42px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  padding: 0;

  &--active {
    background-color: $basic_gray_light;

    @media (min-width: $tablet_width) {
      background-color: $basic_blue_light;
      color: $basic_white;
    }
  }

  @media (min-width: $tablet_width) {
    min-height: 70px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop_width) {
    border-radius: 4px;
  }

  &:active {
    background-color: $basic_blue_light;
    color: $basic_white;
  }

  &--catalog {
    color: $basic_blue_light;
    background-color: $basic_white;

    @media (min-width: $tablet_width) {
      color: rgba($basic_blue, 0.3);
      background-color: transparent;
      font-weight: bold;
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 10px;
      justify-content: flex-start;

      &:hover {
        color: $basic_blue;
      }

      &:active {
        color: $basic_blue;
        opacity: 0.1;
        background-color: transparent;
      }
    }
  }

  &--catalog-active {
    background-color: $basic_blue_light;
    color: $basic_white;

    @media (min-width: $tablet_width) {
      color: $basic_blue;
      background-color: transparent;
    }
  }
}

.index__choise-list {
  margin: 0;
  list-style-type: none;

  @media (min-width: $desktop_width) {
    width: 270px;
  }

  &--catalog {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: auto;
    background-color: transparent;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.index__choise-item {
  display: none;

  &--active {
    display: block;
  }

  &--open {
    @media (min-width: $desktop_width) {
      display: block;
      margin-bottom: 50px;
    }
  }
}

.index__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--catalog {
    @media (min-width: $desktop_width) {
      padding: 0;
      width: 250px;
    }
  }
}

.index__headind-symbol {
  display: none;

  &--catalog {
    @media (min-width: $desktop_width) {
      display: inline-block;
      vertical-align: top;
      font-weight: bold;
      font-size: 60px;
      line-height: 60px;
      text-transform: uppercase;
      color: $basic_blue;
      margin-bottom: 30px;
    }
  }
}

.index__item {
  &:not(:last-of-type) {
    margin-bottom: 4px;
  }

  @media (min-width: $tablet_width) {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}

.index__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $special_gray;
  text-decoration: none;

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 20px;
  }

  &:hover {
    color: $basic_blue_light;
  }

  &:active {
    color: $basic_blue_light;
    opacity: 0.3;
  }
}
