.intro {
  background-color: $basic_blue;
  color: $basic_white;
  padding-top: 18.75%;
  box-sizing: border-box;

  @media (min-width: $tablet_width) {
    padding-top: 0;
    background-color: $special_blue_half-dark;
    background-image: url("../../img/intro_bcg_man_tablet.png"),
      url("../../img/intro_bcg_tablet.jpg");
    background-repeat: no-repeat;
    background-position: 75% 46%, center 55%;
    background-size: 372px 451px, contain;
  }

  @media (min-width: $desktop_width) {
    background-color: $basic_blue;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, min-content);
    background-image: url("../../img/intro_bcg_man_desktop.png"),
      url("../../img/intro_bcg_desktop.png");
    background-position: 60% 25%, center -75px;
    background-size: 460px 640px, contain;
    padding-top: 110px;
  }
}

.intro__wrapper {
  background-image: url("../../img/intro_bcg_man.png"),
    url("../../img/intro_bcg.png");
  background-size: 192px 255px, 100% auto;
  background-position: center bottom, 50% 50%;
  background-repeat: no-repeat;
  padding-bottom: 265px;

  @media (min-width: $tablet_width) {
    background-image: none;
    padding-bottom: 0;
  }

  @media (min-width: $desktop_width) {
    justify-self: flex-start;
    padding-left: 60px;
  }
}

.intro__title {
  margin: 0 auto;
  width: 90%;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;

  @media (min-width: $tablet_width) {
    width: 52%;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 86px;
  }

  @media (min-width: $desktop_width) {
    padding-left: 70px;
    width: 420px;
  }
}

.intro__header {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.intro__quote {
  padding: 0;
  padding-left: 50px;
  margin: 0;
  margin-bottom: 29px;
  background-color: $basic_blue;

  @media (min-width: $tablet_width) {
    background-color: transparent;
    margin-bottom: 210px;
  }

  @media (min-width: $desktop_width) {
    background-color: $basic_blue;
    justify-self: flex-end;
    padding-right: 60px;
    margin-bottom: 116px;
  }
}

.intro__list {
  padding: 0;
  margin: 0;
  padding-bottom: 12.1875%;
  color: $basic_blue;
  list-style-type: none;
  position: relative;
  background-image: linear-gradient(to bottom, $basic_blue 80px, $basic_blue_light 80px);

  @media (min-width: $tablet_width) {
    background-image: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 12.5%;
  }

  @media (min-width: $desktop_width) {
    grid-column: 1 / -1;
    padding-bottom: 8.5416%;
  }
}

.intro__item {
  display: flex;
  align-items: center;
  width: calc(100% - 50px);
  min-height: 80px;
  padding-left: 24px;
  box-sizing: border-box;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  &:first-of-type {
    background-color: $special_orange;
    position: relative;
    z-index: 10;

    @media (max-width: $mobile_width_only) {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    @media (min-width: $tablet_width) {
      border-top-left-radius: 20px;
      position: relative;
      z-index: 10;

      &::after {
        content: "";
        width: 40px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -20px;
        z-index: 5;
        background-color: inherit;
      }
    }
  }

  &:nth-of-type(2) {
    background-color: $basic_orange;

    @media (min-width: $tablet_width) {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      position: relative;
      z-index: 20;
    }

    @media (min-width: $desktop_width) {
      &::after {
        content: "";
        width: 40px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -20px;
        z-index: 5;
        background-color: inherit;
      }
    }
  }

  &:nth-of-type(3) {
    background-color: $special_yellow-dark;

    @media (min-width: $tablet_width) {
      border-bottom-left-radius: 20px;
      position: relative;
      z-index: 30;

      &::after {
        content: "";
        width: 40px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -20px;
        z-index: 5;
        background-color: inherit;
      }
    }
  }

  &:nth-of-type(4) {
    background-color: $basic_yellow;

    @media (max-width: $mobile_width_only) {
      border-bottom-left-radius: 10px;
      order-bottom-right-radius: 10px;
    }

    @media (min-width: $tablet_width) {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      position: relative;
      z-index: 40;
    }
  }

  @media (min-width: $tablet_width) {
    width: calc((100% - 80px) / 2);
    min-height: 140px;
    margin: 0;
  }

  @media (min-width: $desktop_width) {
    width: calc((100% - 120px) / 4);
    min-height: 140px;
    margin: 0;
    border-radius: 20px;
  }
}
