.intro-header {
  background-color: transparent;
  position: relative;
  transform: translateY(-50%);

  @media (min-width: $tablet_width) {
    display: none;
  }
}

.intro-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
