.intro {
  background-color: $basic_blue;
  color: $basic_white;
  padding-top: 13%;
  box-sizing: border-box;

  @media (min-width: $tablet_width) {
    padding-top: 0;
    background-color: $special_blue_half-dark;
    background-image: url("../img/intro-tablet.png");
    background-repeat: no-repeat;
    background-position: 50% 49%;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-tablet@2x.png");
    }
  }

  @media (min-width: $desktop_width) {
    background-color: $basic_blue;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, min-content);
    background-image: url("../img/intro-desktop.png");
    background-position: left -105px;
    background-size: 100% auto;
    padding-top: 100px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-desktop@2x.png");
    }
  }
}

.intro__wrapper {
  background-image: url("../img/intro-mobile.png");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 265px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-mobile@2x.png");
  }

  @media (min-width: $tablet_width) {
    background-image: none;
    padding-bottom: 0;
  }

  @media (min-width: $desktop_width) {
    justify-self: flex-start;
    padding-left: 60px;
  }
}

.intro__title {
  margin: 0 auto;
  width: 90%;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;

  @media (min-width: $tablet_width) {
    width: 52%;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop_width) {
    padding-left: 70px;
    width: 420px;
    margin-bottom: 100px;
  }
}

.intro__header {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.intro__quote {
  padding: 0;
  padding-left: 50px;
  padding-top: 8px;
  margin: 0;
  margin-bottom: 29px;
  background-color: $basic_blue;

  @media (min-width: $tablet_width) {
    background-color: transparent;
    margin-bottom: 212px;
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: $desktop_width) {
    background-color: $basic_blue;
    justify-self: flex-end;
    padding-right: 60px;
    margin-bottom: 116px;
  }
}

.intro__list {
  padding: 0;
  margin: 0;
  padding-bottom: 12.1875%;
  color: $basic_blue;
  list-style-type: none;
  position: relative;
  background-image: linear-gradient(to bottom, $basic_blue 80px, $special_blue 80px);
  counter-reset: section;

  @media (min-width: $tablet_width) {
    background-image: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 12.5%;
  }

  @media (min-width: $desktop_width) {
    grid-column: 1 / -1;
    padding-bottom: 8.5416%;
  }
}

.intro__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 50px);
  min-height: 80px;
  padding: 22px 25px 0;
  box-sizing: border-box;
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  position: relative;

  &::after {
    counter-increment: section;
    content: counter(section);
    color: $basic_white;

    @media (min-width: $tablet_width) {
      margin-top: 10px;
      font-size: 30px;
      line-height: 30px;
    }

    @media (min-width: $desktop_width) {
      margin-top: 0;
    }
  }

  @media (max-width: $mobile_width_only) {
    &::before {
      content: "";
      width: 100%;
      height: 10px;
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: 5;
      background-color: inherit;
    }
  }

  @media (max-width: $mobile_width_only) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &:first-of-type {
    background-color: $special_orange;
    z-index: 10;

    @media (min-width: $tablet_width) {
      border-top-left-radius: 20px;
      z-index: 10;

      &::before {
        content: "";
        width: 40px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -20px;
        z-index: 5;
        background-color: inherit;
      }
    }
  }

  &:nth-of-type(2) {
    background-color: $basic_orange;

    @media (max-width: $mobile_width_only) {
      z-index: 20;
    }

    @media (min-width: $tablet_width) {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      z-index: 20;
    }

    @media (min-width: $desktop_width) {
      &::before {
        content: "";
        width: 40px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -20px;
        z-index: 5;
        background-color: inherit;
      }
    }
  }

  &:nth-of-type(3) {
    background-color: $special_yellow-dark;

    @media (max-width: $mobile_width_only) {
      z-index: 30;
    }

    @media (min-width: $tablet_width) {
      border-bottom-left-radius: 20px;
      z-index: 30;

      &::before {
        content: "";
        width: 40px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -20px;
        z-index: 5;
        background-color: inherit;
      }
    }
  }

  &:nth-of-type(4) {
    background-color: $basic_yellow;

    @media (max-width: $mobile_width_only) {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      z-index: 40;

      &::before {
        display: none;
      }
    }

    @media (min-width: $tablet_width) {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      z-index: 40;
    }
  }

  @media (min-width: $tablet_width) {
    width: calc((100% - 80px) / 2);
    min-height: 140px;
    margin: 0;
    padding: 30px 34px 0;
    font-size: 24px;
    line-height: 24px;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (min-width: $desktop_width) {
    width: calc((100% - 120px) / 4);
    min-height: 108px;
    margin: 0;
    border-radius: 20px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.intro-header__navigation {
  flex-grow: 1;
}
