.level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &--bg-dark {
    background-color: rgba($basic_black, 0.6);
    border-radius: 50%;
  }

  // &::after {
  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   background-image: url("../img/demin_level.svg");
  //   background-size: contain;
  //   background-repeat: no-repeat;
  // }

  // &--firsova-rounded::after {
  //   background-image: url("../img/99.svg");
  // }

  // &--demin-rounded::after {
  //   background-image: url("../img/80.svg");
  // }

  // &--firsova::after {
  //   background-image: url("../img/99_small.svg");
  // }

  // &--demin::after {
  //   background-image: url("../img/80_small.svg");
  // }

  // &--smolov::after {
  //   background-image: url("../img/25_small.svg");
  //   background-size: 50%;
  //   background-position: top right;
  // }

  // &--yarovaya::after {
  //   background-image: url("../img/50_small.svg");
  //   background-size: 50%;
  //   background-position: top right;
  // }
}

.level__image {
  position: absolute;
  top: 0;
  left: 0;
  // right: 0;
  // border: 1px solid crimson;
  // width: 96px;
}

.level__counter {
  color: $basic_blue;
  font-weight: bold;
  font-size: 38px;
  line-height: 38px;
  position: relative;
  border-bottom: 1px solid rgba(($basic_white), 0.3);
  margin-bottom: 6%;

  &--light {
    color: $basic_blue_light;
  }

  &--white {
    color: $basic_white;
  }

  &--small {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
  }

  &--form {
    @media (min-width: $desktop_width) {
      color: $basic_white;
    }
  }

  &--no-bordered {
    border-bottom: 1px solid rgba(($basic_black), 0.1);

    @media (max-width: $mobile_width_only) {
      border: none;
    }
  }
}

.level__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: $special_gray;

  &--hidden {
    @media (max-width: $mobile_width_only) {
      display: none;
    }
  }

  &--white {
    color: $basic_white;
  }

  &--small {
    font-size: 14px;
    line-height: 14px;
  }

  &--form {
    @media (min-width: $desktop_width) {
      color: $basic_white;
    }
  }

  &--gray {
    color: rgba($basic_black, 0.4);
  }
}
