.level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &--bg-dark {
    background-color: rgba($basic_black, 0.6);
    border-radius: 50%;
  }
}

.level__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &--firsova {
    transform: rotate(70deg);
  }

  &--demin {
    transform: rotate(-10deg);
  }

  &--smolov {
    transform: rotate(-40deg);
  }

  &--rogovaya {
    transform: rotate(-92deg);
  }
}

.level__counter {
  color: $basic_blue;
  font-weight: bold;
  font-size: 38px;
  line-height: 38px;
  position: relative;
  border-bottom: 1px solid rgba($basic_white, 0.3);
  margin-bottom: 6%;

  &--light {
    color: $basic_blue_light;
  }

  &--white {
    color: $basic_white;
  }

  &--small {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
  }

  &--form {
    border-color: rgba($special_gray, 0.3);

    @media (min-width: $desktop_width) {
      border-color: rgba($basic_white, 0.3);
      color: $basic_white;
    }
  }

  &--no-bordered {
    border-bottom: 1px solid rgba(($basic_black), 0.1);

    @media (max-width: $mobile_width_only) {
      border: none;
    }
  }
}

.level__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: $special_gray;

  &--hidden {
    @media (max-width: $mobile_width_only) {
      display: none;
    }
  }

  &--white {
    color: $basic_white;
  }

  &--small {
    font-size: 14px;
    line-height: 14px;
  }

  &--form {
    @media (min-width: $desktop_width) {
      color: $basic_white;
    }
  }

  &--gray {
    color: rgba($basic_black, 0.4);
  }
}
