$level-icon: 56px;

.list-travelers {
  @media (min-width: $tablet_width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.list-travelers__item {
  border-radius: 10px;

  &:not(:last-of-type) {
    @media (max-width: $mobile_width_only) {
      margin-bottom: 9px;
    }
  }

  @media (min-width: $tablet_width) {
    width: 285px;
  }
}

.list-travelers__card {
  min-height: 428px;
  height: 100%;
  box-sizing: border-box;
  background-color: $basic_white;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  justify-items: center;
  padding-bottom: 22px;

  @media (min-width: $tablet_width) {
    padding-bottom: 30px;
  }
}

.list-travelers__image {
  display: inline-block;
  vertical-align: top;
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  @media (min-width: $tablet_width) {
    width: 285px;
    height: auto;
  }
}

.list-travelers__wrapper {
  background-color: $basic_white;
}

.list-travelers__level-container {
  width: $level-icon;
  height: $level-icon;
  transform: translate(20px, 20px);
  justify-self: flex-start;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.list-travelers__countries {
  transform: translateY(-50%);
}

.list-travelers__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: $basic_blue_light;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &--red::before {
    background-color: $special_red_dark;
  }

  &--green::before {
    background-color: $basic__green;
  }
}

.list-travelers__hashtags {
  padding: 0 25px;
  justify-content: center;
  margin-bottom: 14px;
}
