.markers {
  margin: 0;
  list-style-type: none;

  &--no-text {
    display: flex;
    padding-right: 18px;

    @media (min-width: $tablet_width) {
      padding-right: 0;
    }
  }
}

.markers__item {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    background-color: $basic_blue_light;
    opacity: 0.3;

    @media (min-width: $tablet_width) {
      width: 6px;
      height: 6px;
    }
  }

  &:not(:last-of-type) {
    @media (min-width: $desktop_width) {
      margin-bottom: 20px;
    }
  }

  &--current::before {
    opacity: 1;
  }

  &--no-text:not(:last-of-type) {
    margin-right: 16px;

    @media (min-width: $tablet_width) {
      margin-right: 29px;
    }

    @media (min-width: $desktop_width) {
      margin-bottom: 0;
    }
  }
}

.markers__text {
  padding-left: 36px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: $basic_black;
}
