.menu-interests {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
    border-top: 1px solid $special_orange_light;
  }

  @media (min-width: $tablet_width) {
    padding-top: 26px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 6px;
  }
}

.menu-interests__item {
  border-top: 1px solid $special_orange_light;

  @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $tablet_width) {
    border: none;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  @media (min-width: $desktop_width) {
    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

.menu-interests__submenu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 18px;

  @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }

  @media (min-width: $desktop_width) {
    padding-top: 18px;
  }
}

.menu-interests__submenu-item {
  &:not(:last-of-type) {
    margin-bottom: 12px;

    @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop_width) {
      margin-bottom: 16px;
    }
  }

  @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
    margin-bottom: 0;
    width: 30%;

    &:first-of-type,
    &:nth-of-type(2) {
      width: 35%;
    }
  }
}

.menu-interests__label {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: $basic_black;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    background-color: $basic_white;
    border-radius: 4px;
    margin-right: 9px;

    @media (min-width: $desktop_width) {
      margin-right: 12px;
    }
  }

  &::after {
    display: none;
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(50%, 50%);
    background-image: url("../img/checkbox.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 20px;

    &::before {
      width: 24px;
      height: 24px;
    }

    &::after {
      width: 14px;
      height: 14px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.menu-interests__label:hover .menu-interests__label-text {
  opacity: 0.6;
}

.menu-interests__field:checked ~ .menu-interests__label::after {
  display: inline-block;
  vertical-align: top;
}

.menu-interests__field:focus ~ .menu-interests__label {
  outline: 2px solid $special_orange-dark;
}
