.navigation {
  &--hidden {
    display: none;
  }

  @media (min-width: $desktop_width) {
    display: block;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;

  @media (min-width: $desktop_width) {
    &::before {
      content: "";
      width: 60px;
      height: 2px;
      background-color: $basic_white;
      margin-right: 45px;
    }
  }

  &--dark::before {
    background-color: $basic_blue;
  }

  @media (max-width: $tablet_width_only) {
    flex-direction: column;
    width: 100%;
  }
}

.navigation__item:not(:last-of-type) {
  @media (min-width: $desktop_width) {
    margin-right: 34px;
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic_white;

  @media (min-width: $desktop_width) {
    height: 20px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
  }

  &--dark {
    @media (max-width: $tablet_width_only) {
      color: $basic_blue;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
    }

    @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
      font-size: 60px;
      line-height: 71px;
    }
  }

  &--intro {
    color: $basic_blue;
  }
}

.navigation__list--dark .navigation__link--dark {
  color: $basic_blue;
}

.navigation__link-text {
  @media (max-width: $tablet_width_only) {
    &:hover {
      opacity: 0.7;
    }
  }

  @media (min-width: $desktop_width) {
    position: relative;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.3s;

    &::before {
      content: attr(data-hover);
      position: absolute;
      top: 100%;
      transform: translate3d(0, 0, 0);
      color: $basic_yellow;
    }

    &:hover {
      transform: translateY(-100%);
    }

    &:active {
      opacity: 0.3;
    }
  }
}
