.page-menu {
  display: flex;

  &--opened {
    @media (max-width: $tablet_width_only) {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 41px;
    }

    @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
      margin-bottom: 129px;
    }
  }
}

.page-menu__link-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: $basic_blue;
  text-transform: uppercase;

  @media (min-width: $tablet_width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop_width) {
    display: none;
  }
}

.page-menu__phone {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.page-menu__phone-logo {
  width: 40px;
  height: 40px;
  background-color: $special_orange;
  border-radius: 50%;
  position: relative;

  @media (min-width: $tablet_width) {
    width: 50px;
    height: 50px;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/phone.svg");
    background-position: center;
    background-size: 18px 18px;
    background-repeat: no-repeat;

    @media (min-width: $tablet_width) {
      width: 50px;
      height: 50px;
    }
  }

  &:hover {
    background-color: $special_orange_half_dark;
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }

  &--dark {
    @media (max-width: $tablet_width_only) {
      width: 45px;
      height: 45px;
      background-color: $basic_blue;
      margin-right: 18px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        display: none;
      }
    }

    @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
      width: 68px;
      height: 68px;
      margin-right: 23px;
    }
  }
}

.page-menu__telephone-logo-image {
  width: 19px;
  height: 17px;

  @media (min-width: $tablet_width) {
    width: 27px;
    height: 26px;
  }

  @media (min-width: $desktop_width) {
    display: none;
  }
}

.page-menu__email {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.page-menu__email-logo {
  width: 40px;
  height: 40px;
  background-color: $special_yellow-dark;
  border-radius: 50%;
  position: relative;

  @media (min-width: $tablet_width) {
    width: 50px;
    height: 50px;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/mail.svg");
    background-size: 18px 16px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: $special_orange;
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }

  &--dark {
    @media (max-width: $tablet_width_only) {
      width: 45px;
      height: 45px;
      background-color: $basic_blue;
      margin-right: 18px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        display: none;
      }
    }

    @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
      width: 68px;
      height: 68px;
      margin-right: 23px;
    }
  }
}

.page-menu__email-logo-image {
  width: 19px;
  height: 13px;

  @media (min-width: $tablet_width) {
    width: 28px;
    height: 19px;
  }

  @media (min-width: $desktop_width) {
    display: none;
  }
}

@media (max-width: $tablet_width_only) {
  .page-menu__phone:hover .page-menu__link-text,
  .page-menu__email:hover .page-menu__link-text {
    opacity: 0.8;
  }

  .page-menu__phone:hover .page-menu__phone-logo--dark,
  .page-menu__email:hover .page-menu__email-logo--dark {
    background-color: $basic_blue;
  }

  .page-menu__phone:hover .page-menu__telephone-logo-image,
  .page-menu__email:hover .page-menu__email-logo-image {
    fill: $special_yellow-dark;
  }

  .page-menu__phone:active .page-menu__link-text,
  .page-menu__phone:active .page-menu__telephone-logo-image,
  .page-menu__email:active .page-menu__link-text,
  .page-menu__email:active .page-menu__email-logo-image {
    opacity: 0.3;
  }
}

.page-menu--opened .page-menu__authorization {
  @media (max-width: $tablet_width_only) {
    order: -1;
  }

  @media (max-width: $mobile_width_only) {
    margin-bottom: 50px;
    width: 100%;
  }

  @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
    display: none;
  }
}
