.page-footer {
  background-color: $basic_white;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    height: 30px;
    background-color: $basic_white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    @media (min-width: $tablet_width) {
      top: -45px;
      width: 100%;
      height: 45px;
      background-color: $basic_white;
      border-top-left-radius: 45px;
      border-top-right-radius: 45px;
    }
  }

  @media (min-width: $tablet_width) {
    padding-bottom: 32px;
  }
}

.page-footer__link {
  margin-bottom: 40px;

  @media (min-width: $tablet_width) {
    margin: 0;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet_width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 20px;
    margin-right: 23px;
  }
}

.page-footer__copyright-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 19px;

  @media (min-width: $tablet_width) {
    width: auto;
    padding: 0;
    margin: 0;
  }
}

.page-footer__study-link {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__study-center {
  width: 27px;
  height: 34px;
}
