.page-link {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  min-height: 62px;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 20px;
  text-decoration: none;
  background-color: $basic_yellow;
  color: $basic_blue_light;

  &--short {
    width: 270px;

    @media (min-width: $tablet_width) {
      width: 276px;
    }
  }

  @media (min-width: $tablet_width) {
    min-height: 80px;
    border-radius: 20px;
    padding: 0 32px;
  }

  @media (min-width: $desktop_width) {
    width: 276px;
  }

  &:hover {
    background-color: $special_yellow-dark;
  }
}

.page-link__text {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    background-image: url("../img/link_arrow.svg");
    background-size: 14px 14px;
  }

  @media (min-width: $tablet_width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.page-link:active .page-link__text {
  opacity: 0.3;
}
