.page-header {
  background-color: $basic_blue;
  padding-top: 19px;
  position: relative;

  @media (min-width: $tablet_width) {
    padding-top: 40px;
    padding-bottom: 72px;
    background-color: $basic_blue_light;
  }

  @media (min-width: $desktop_width) {
    padding-top: 46px;
    padding-bottom: 11px;
    background-color: $basic_blue;
  }

  &--lighten {
    background-color: $basic_blue_light;
  }

  &--form {
    padding-bottom: 0;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__open-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 11px;
    background-image: url("../../img/icon_menu_mobile.svg");
  }
}
