.page-header {
  background-color: $basic_blue;
  padding-top: 19px;
  padding-bottom: 60px;
  position: relative;

  &--lighten {
    background-color: $basic_blue_light;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
}

.page-header__open-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 11px;
    background-image: url("../../img/icon_menu_mobile.svg");
  }
}

// .page-header__navigation {
//   display: none;
// }
