.parametres {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.parametres__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;

  @media (min-width: $desktop_width) {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 14px;
    }
  }
}

.parametres__title {
  margin: 0;
  color: $basic_blue_light;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-bottom: 8px;
  white-space: nowrap;

  @media (min-width: $tablet_width) {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 0;
    width: 220px;
    letter-spacing: normal;
  }
}

.paramtres__unit {
  justify-self: flex-end;
  color: $basic_blue_light;
  opacity: 0.3;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.08em;
    padding-right: 4px;

    &--days {
      padding-right: 0;
    }
  }

  @media (min-width: $desktop_width) {
    order: 2;
    opacity: 1;
    letter-spacing: normal;
  }
}

.parametres__control {
  min-height: 43px;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(($special_gray), 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 14px;
  margin-bottom: 18px;

  @media (min-width: $tablet_width) {
    min-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop_width) {
    width: 180px;
    margin-bottom: 0;
    margin-right: 35px;
  }

  &:hover {
    border: 1px solid rgba($basic_blue, 0.5);
  }

  &:active {
    border: 1px solid $basic_blue;
  }
}

.parametres__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.5;

  @media (min-width: $tablet_width) {
    width: 20px;
    height: 20px;
  }

  &--less {
    background-image: url("../img/minus.svg");
  }

  &--more {
    background-image: url("../img/plus.svg");
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.parametres__input {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $basic_blue_light;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  width: 90px;

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop_width) {
    width: 90px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
