$counter-icon: 34px;
$counter-icon-adv: 68px;

.profile {
  padding-top: 53px;
  padding-bottom: 35px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: $basic_gray_light;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $tablet_width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top: 75px;
    padding-bottom: 39px;
  }

  @media (min-width: $desktop_width) {
    padding-bottom: 140px;
    padding-top: 105px;
  }
}

.profile__wrapper {
  padding-left: 25px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: repeat(3, min-content);

  @media (min-width: $tablet_width) {
    padding-left: 0;
  }

  @media (min-width: $desktop_width) {
    padding-left: 70px;
  }
}

.profile__title {
  margin: 0;
  display: flex;
  align-items: center;

  @media (min-width: $tablet_width) {
    justify-self: center;
    grid-column: 1 / -1;
    margin-bottom: 32px;
  }

  &--modal {
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;

    @media (min-width: $tablet_width) {
      margin-bottom: 0;
      padding-left: 90px;
      padding-right: 90px;
    }
  }
}

.profile__rates-container {
  width: 100px;
  height: 100px;
  background-image: url("../img/rates.svg");
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: $tablet_width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-right: 49px;
    z-index: 10;
    position: relative;
    top: -26px;
  }

  @media (min-width: $desktop_width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
    width: 198px;
    height: 198px;
    position: static;
    padding-right: 75px;
  }
}

.profile__list {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  margin-bottom: 30px;

  @media (min-width: $tablet_width) {
    padding-top: 51px;
    padding-bottom: 51px;
    margin-bottom: 0;
    position: relative;

    &--gray::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 198px;
      height: 100%;
      background-color: $special_gray_light;
      border-radius: 20px;
    }
  }

  @media (min-width: $desktop_width) {
    margin-right: 186px;

    &::after {
      width: 446px;
    }
  }

  &--modal {
    padding: 28px 25px 34px;
    margin-bottom: 0;

    @media (min-width: $tablet_width) {
      padding: 47px 90px 52px;
    }

    @media (min-width: $desktop_width) {
      padding: 46px 60px 53px;
      margin: 0;
    }
  }
}

.profile__list-wrapper {
  min-height: 65px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;

  &:last-of-type {
    border-bottom: 1px solid $special_gray_light;

    @media (min-width: $tablet_width) {
      border-bottom: none;
    }
  }

  @media (min-width: $tablet_width) {
    display: flex;
  }

  &--modal {
    border-top: 1px solid rgba($basic_black, 0.05);
    padding-top: 11px;
    padding-bottom: 11px;

    &:last-of-type {
      border-bottom: 1px solid rgba($basic_black, 0.05);
    }

    @media (min-width: $tablet_width) {
      padding-top: 14px;
      padding-bottom: 14px;
    }

    @media (min-width: $desktop_width) {
      justify-content: space-between;
    }
  }
}

.profile__term {
  width: 81.9672%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  margin-bottom: 6px;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  border-top: 1px solid $special_gray_light;
  position: relative;

  @media (min-width: $tablet_width) {
    width: auto;
    flex-grow: 1;
    font-size: 28px;
    line-height: 28px;
    padding: 20px 0;
    margin-left: 90px;
  }

  &--third {
    @media (min-width: $tablet_width) {
      border-bottom: 1px solid $special_gray_light;
    }
  }

  &::after {
    width: $counter-icon;
    height: $counter-icon;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $basic_white;
    position: absolute;
    top: 3px;
    right: -44px;

    @media (min-width: $tablet_width) {
      font-size: inherit;
      line-height: inherit;
      width: $counter-icon-adv;
      height: $counter-icon-adv;
      left: -90px;
    }
  }

  &--first::after {
    content: "1";
    background-color: $special_orange;
  }

  &--second::after {
    content: "2";
    background-color: $special_yellow-dark;
  }

  &--third::after {
    content: "3";
    background-color: $basic_yellow;
  }

  &--modal {
    border: none;
    padding-top: 0;

    @media (min-width: $tablet_width) {
      margin: 0;
      padding: 0;
    }
  }
}

.profile__description {
  width: 198px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
  box-sizing: border-box;

  @media (min-width: $tablet_width) {
    justify-content: center;
    margin: 0;
    font-size: 28px;
    line-height: 28px;
    white-space: nowrap;
    position: relative;
  }

  @media (min-width: $desktop_width) {
    width: 446px;
  }

  &--modal {
    margin-bottom: 0;
    width: auto;
  }
}

.profile__bisiness-link {
  grid-column: 1 / -1;
  color: $special_blue_dark;
  text-decoration: none;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet_width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: center;
    display: flex;
    align-items: center;
    position: relative;
    top: -26px;
    font-size: 20px;
    line-height: 20px;
  }
}

.profile__bisiness-link-logo {
  @media (min-width: $tablet_width) {
    display: inline-block;
    vertical-align: top;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: $basic_half_gray;
    margin-right: 21px;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url("../img/icon_businessman.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 27px 27px;
    }
  }
}

.profile__bisiness-link:hover .profile__bisiness-link-text,
.profile__bisiness-link:hover .profile__bisiness-link-logo::after {
  opacity: 0.7;
}

.profile__bisiness-link:active .profile__bisiness-link-text,
.profile__bisiness-link:active .profile__bisiness-link-logo::after {
  opacity: 0.3;
}

.profile__modal {
  background-color: $basic_white;
  width: calc(100% - 50px);
  padding-top: 35px;
  border-radius: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  overflow: hidden;
  transform: translate(-50%, -50%);
  display: none;

  &--open {
    display: block;
  }

  @media (min-width: $tablet_width) {
    width: calc(100% - 80px);
    padding-top: 54px;
  }

  @media (min-width: $desktop_width) {
    width: 750px;
    border-radius: 30px;
  }
}

.profile__modal-close {
  width: 100%;
  min-height: 60px;
  border: none;
  background-color: $basic_gray_half_light;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: $basic_blue_light;
  cursor: pointer;

  @media (min-width: $tablet_width) {
    min-height: 108px;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
  }

  &:hover {
    background-color: $basic_gray_light;
  }
}

.profile__modal-close:active .profile__modal-close-text {
  opacity: 0.3;
}
