.range-filter {
  margin-bottom: 24px;

  @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 0;
  }

  @media (min-width: $desktop_width) {
    padding-top: 10px;
  }
}

.range-filter__price-controls {
  display: flex;
  border: 1px solid $basic_gray;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;

  &::after {
    content: "";
    width: 16px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $basic_white;
    background-image: url("../img/range-line.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
    order: 2;
    margin-bottom: 0;
    width: 148px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 32px;
  }
}

.range-filter__price-label {
  flex-grow: 1;
  box-sizing: border-box;
  cursor: pointer;

  &:first-of-type {
    border-right: 1px solid $basic_gray;
  }
}

.range-filter__price-field {
  padding: 0;
  display: flex;
  width: 100%;
  min-height: 35px;
  border: none;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.07em;
  color: $basic_blue;

  @media (min-width: $tablet_width) {
    height: 44px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.04em;
  }

  &:hover {
    box-shadow: inset 0 0 2px $special_gray_dark;
  }
}

.range-filter__range-controls {
  height: 10px;
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: $tablet_width) and (max-width: $tablet_width_only) {
    flex-grow: 1;
    margin-right: 70px;
  }
}

.range-filter__scale {
  width: 100%;
  height: 2px;
  background-color: rgba($basic_blue_light, 0.2);
}

.range-filter__bar {
  width: 70%;
  height: 2px;
  background-color: $basic_blue_light;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
}

.range-filter__toggle {
  width: 10px;
  height: 10px;
  background-color: $basic_blue_light;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  @media (min-width: $tablet_width) {
    width: 13px;
    height: 13px;
  }

  &:hover {
    width: 19px;
    height: 19px;
  }
}

.range-filter__toggle--min {
  left: 30%;
}

.range-filter__toggle--max {
  right: 0;
}
