.routes__list {
  padding: 0;
  padding-top: 20px;
  list-style-type: none;
  color: $basic_blue_light;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  position: relative;
  text-transform: uppercase;

  @media (min-width: $tablet_width) {
    border-top: 1px solid rgba($basic_gray, 0.3);
    padding-top: 42px;
  }

  @media (min-width: $desktop_width) {
    padding-top: 62px;
    margin-top: 0;
  }

  &::after {
    @media (min-width: $tablet_width) {
      content: "";
      height: 100%;
      width: 1px;
      position: absolute;
      top: 0;
      right: 129px;
      background-color: rgba($basic_gray, 0.3);
    }

    @media (min-width: $desktop_width) {
      right: 245px;
    }
  }
}

.routes__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 42px;
  position: relative;
  box-sizing: border-box;

  &:not(:last-of-type) {
    margin-bottom: 22px;

    @media (min-width: $tablet_width) {
      margin-bottom: 16px;
    }

    @media (min-width: $desktop_width) {
      margin-bottom: 14px;
    }
  }

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    right: 58px;
    top: 50%;
    z-index: 100;
    transform: translate(50%, -50%);
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid $basic_gray;
    background-color: $basic_white;

    @media (min-width: $tablet_width) {
      width: 14px;
      height: 14px;
      right: 130px;
    }

    @media (min-width: $desktop_width) {
      right: 245px;
    }
  }

  &::before {
    content: "";
    width: 8px;
    height: 11px;
    position: absolute;
    right: 58px;
    bottom: -6px;
    transform: translate(50%, 100%);
    z-index: 100;
    background-image: url("../../img/arrow_route.svg");

    @media (min-width: $tablet_width) {
      display: none;
    }
  }

  &--active::after {
    background-color: $basic_black;
  }

  &--add::after {
    background-color: $basic_gray_light;
  }

  &--add {
    background-color: $basic_gray_light;

    @media (min-width: $tablet_width) {
      background-color: $basic_white;
    }
  }

  &--add::before {
    display: none;
  }

  &--active {
    @media (min-width: $desktop_width) {
      margin-right: 0;
    }
  }

  &--select {
    position: relative;
  }

  &--open::after {
    @media (max-width: $mobile_width_only) {
      display: none;
    }
  }
}

.routes__country-name {
  flex-grow: 1;
  align-self: stretch;
  border: 1px solid $basic_gray;
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 20px;
    padding: 25px;
  }

  @media (min-width: $desktop_width) {
    width: 730px;
    box-sizing: border-box;
    flex-grow: 0;
  }

  &--open {
    background-color: $basic_blue_light;
    color: $basic_white;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--select,
  &--add {
    @media (min-width: $mobile_width_only) {
      border: none;
    }

    @media (min-width: $tablet_width) {
      border: 1px solid $basic_gray;
      margin-right: 156px;
    }
  }

  &--add {
    @media (min-width: $tablet_width) {
      background-color: $basic_gray_light;
    }
  }
}

.routes__country-text {
  display: flex;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  @media (max-width: 400px) {
    width: 136px;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, transparent 70%, $basic_white 83%, $basic_white 100%);
  }
}

.routes__select-country {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url("../../img/select_country.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 11px;
  height: 8px;

  &--open {
    display: none;
  }

  @media (min-width: $tablet_width) {
    width: 20px;
    height: 17px;
    right: 25px;
  }
}

.routes__flag-wrapper {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $basic_gray;
  border-left: none;
  margin: 0;
  box-sizing: border-box;
  padding: 11px;
  border-radius: 4px;

  @media (min-width: $tablet_width) {
    border: none;
    padding-left: 52px;
    padding-right: 34px;
  }

  @media (min-width: $desktop_width) {
    padding-left: 33px;
    padding-right: 135px;
  }
}

.routes__country-flag {
  width: 35px;
  height: 24px;

  @media (min-width: $tablet_width) {
    width: 70px;
    height: 47px;
  }
}

.routes__delete-country {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
  background-color: $basic_gray_light;
  border-radius: 50%;
  border: none;
  background-image: url("../../img/icon_close.svg");
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: center;
  width: 21px;
  height: 21px;

  &--open {
    @media (max-width: $mobile_width_only) {
      display: none;
    }
  }

  @media (min-width: $tablet_width) {
    background-size: 24px;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
  }
}

.routes__popup-close {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  background-image: url("../../img/icon_close_white.svg");
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: center;
  width: 21px;
  height: 21px;
  display: none;

  @media (min-width: $tablet_width) {
    background-size: 24px;
    right: 34%;
  }

  @media (min-width: $desktop_width) {
    right: 29.5%;
  }

  &--open {
    display: inline-block;
    vertical-align: top;
  }
}

.routes__wrapper {
  flex-grow: 1;
  position: relative;
}

.routes__add-country {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 14px;
  height: 14px;
  background-image: url("../../img/plus.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $tablet_width) {
    right: 25px;
    width: 24px;
    height: 24px;
  }
}

.routes__popup {
  background-color: $basic_white;
  position: absolute;
  left: 0;
  right: 0;
  top: 36px;
  z-index: 1000;
  display: none;

  @media (min-width: $tablet_width) {
    top: 72px;
  }

  @media (min-width: $desktop_width) {
    max-width: 730px;
  }
}

.routes__choise-list {
  text-transform: none;
  padding: 20px;

  @media (max-width: $mobile_width_only) {
    border: 1px solid $basic_gray;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  @media (min-width: $tablet_width) {
    padding: 35px 0  0 20px;
  }
}
