$socials-icon: 45px;
$socials-icon-tablet: 60px;

.socials {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;

  &--popup {
    @media (min-width: $desktop_width) {
      display: none;
    }
  }
}

.socials__item {
  &--bg {
    background-color: $basic_yellow;
    border-radius: 50%;
  }

  &--bg:hover {
    background-color: $special_yellow_dark;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $socials-icon;
  height: $socials-icon;

  @media (min-width: $tablet_width) {
    width: $socials-icon-tablet;
    height: $socials-icon-tablet;
  }
}

.socials__item:hover .socials__link {
  opacity: 0.6;
}

.socials__item--bg:hover .socials__link {
  opacity: 1;
}

.socials__item:active .socials__link {
  opacity: 0.3;
}

.socials__logo {
  &--facebook {
    width: 11px;
    height: 21px;

    @media (min-width: $tablet_width) {
      width: 14px;
      height: 28px;
    }
  }

  &--vk {
    width: 23px;
    height: 12px;

    @media (min-width: $tablet_width) {
      width: 31px;
      height: 16px;
    }
  }

  &--instagram {
    width: 18px;
    height: 14px;

    @media (min-width: $tablet_width) {
      width: 24px;
      height: 24px;
    }
  }
}
