.transports {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transports__item {
  width: 32px;
  height: 32px;
  background-color: $basic_white;
  border-radius: 50%;
  position: relative;

  &::after {
    content: "";
    width: 17px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.15;
  }

  &--avia::after {
    background-image: url("../../img/avia.svg");
  }

  &--auto::after {
    background-image: url("../../img/auto.svg");
  }

  &--bicycle::after {
    background-image: url("../../img/bicycle.svg");
  }

  &--run::after {
    background-image: url("../../img/run.svg");
  }

  &--active::after {
    opacity: 1;
  }

  &--gray {
    @media (max-width: $mobile_width_only) {
      background-color: $basic_gray_light;
    }
  }

  @media (min-width: $tablet_width) {
    width: 43px;
    height: 43px;

    &::after {
      width: 23px;
      height: 22px;
    }
  }

  &--small {
    width: 29px;
    height: 29px;
  }
}
