.transports {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transports__item {
  width: 32px;
  height: 32px;
  background-color: $basic_white;
  border-radius: 50%;
  position: relative;

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.15;
  }

  &--avia::after {
    background-image: url("../img/avia.svg");
  }

  &--auto::after {
    background-image: url("../img/auto.svg");
  }

  &--bicycle::after {
    background-image: url("../img/bicycle.svg");
  }

  &--run::after {
    background-image: url("../img/run.svg");
  }

  &--active::after {
    opacity: 1;
  }

  &--gray {
    @media (max-width: $mobile_width_only) {
      background-color: $basic_gray_light;
    }
  }

  &--small {
    &::after {
      background-size: 14px 16px;
    }
  }

  @media (min-width: $tablet_width) {
    width: 34px;
    height: 34px;

    &::after {
      width: 23px;
      height: 22px;
    }
  }

  @media (min-width: $desktop_width) {
    &--small {
      width: 22px;
      height: 22px;
      margin-right: 12px;

      &::after {
        background-size: 22px 22px;
      }
    }
  }
}

.transports__item:hover .transports__tooltip {
  display: block;
}
