.travelers-footer {
  min-height: 50px;
  display: flex;
  background-color: $basic_white;
  border-radius: 20px;

  @media (min-width: $tablet_width) {
    width: calc(100% - 80px);
    min-height: 100px;
    justify-content: space-between;
  }

  @media (min-width: $desktop_width) {
    width: 100%;
  }
}

.travelers-footer__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet_width) {
    display: flex;
    align-items: center;
  }
}

.travelers-footer__item {
  &:not(:last-of-type) {
    margin-right: 4px;

    @media (min-width: $tablet_width) {
      margin-right: 0;
    }
  }
}

.travelers-footer__pages-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_blue_light;
  text-decoration: none;
  border-radius: 50%;

  &--current {
    background-color: $basic_yellow;
    pointer-events: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
    background-color: $basic_yellow;
  }
}

.travelers-footer__wrapper {
  display: flex;
  width: 100%;
  position: relative;

  &::after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $basic_gray_light;
  }

  @media (min-width: $tablet_width) {
    width: 80px;
    justify-content: space-between;
  }

  @media (min-width: $desktop_width) {
    width: 96px;
  }
}

.travelers-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  cursor: pointer;
  position: relative;

  @media (min-width: $tablet_width) {
    width: 10px;
    justify-content: space-between;
  }

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 45%;
    background-repeat: no-repeat;
  }

  &--back::before {
    background-image: url("../img/page-arrows_next.svg");
    background-position: left center;
    transform: translate(-50%, -50%) rotate(180deg);
  }

  &--forward::before {
    background-image: url("../img/page-arrows_next.svg");
    background-position: right center;
    transform: translate(-50%, -50%);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
