.travelers {
  background-color: $special_blue;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 62px 25px 31px;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet_width) {
    padding: 70px 70px 87px;
  }

  @media (min-width: $desktop_width) {
    padding: 70px 60px 134px 130px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -60px;
    z-index: -1;
    width: 100%;
    height: 60px;
    background-color: $special_blue;
  }
}

.travelers__title {
  padding: 0 25px;
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: $tablet_width) {
    padding: 0;
    margin-bottom: 55px;
  }
}

.travelers__text {
  padding: 0 25px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet_width) {
    width: 70%;
    padding: 0;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop_width) {
    padding: 0;
    margin-bottom: 42px;
  }

  &:not(:last-of-type) {
    margin-bottom: 25px;
  }

  &:last-of-type {
    margin-bottom: 54px;

    @media (min-width: $tablet_width) {
      margin-bottom: 59px;
    }

    @media (min-width: $desktop_width) {
      margin-bottom: 85px;
    }
  }
}

.travelers__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 20px;
}
