$basic_blue: #161c35;
$special_blue: #192144;
$basic_gray_light: #edeff6;
$basic_yellow: #ffd74b;
$basic_orange: #ffa530;
$special_yellow-dark: #ffbd30;
$special_orange: #ff8d30;
$special_blue-light: #dfe3f0;
$special_gray: #444444;
$basic_blue_light: #1d2e5b;
$special_red: #f47e7e;
$basic_white: #fff;
