// colors
$basic_blue: #161c35;
$basic_blue_light: #1d2e5b;
$special_blue: #192144;
$special_blue_half_dark: #d4d9eb;
$special_blue_dark: #132576;
$special_blue-light: #dfe3f0;
$basic_gray: #cbced9;
$basic_half_gray: #e2e5f2;
$special_gray: #444444;
$special_gray_light: #e1e3e9;
$basic_gray_light: #edeff6;
$basic_yellow: #ffd74b;
$basic_orange: #ffa530;
$special_yellow-dark: #ffbd30;
$special_orange: #ff8d30;
$special_orange-dark: #ff5c23;
$special_orange_light: #f3c72b;
$special_red: #f47e7e;
$special_red_light: #f9eaea;
$special_red_dark: #f97676;
$basic_white: #ffffff;
$basic_black: #000000;

// viewports
$tablet_width: 768px;
$desktop_width: 1440px;
$modile_width: 320px;
$mobile_width_only: 767px;
